{% extends "layout.html" %}

{% block content %}

	<div class="row large">
		<div class="col-md-12">
			<h1>{{ artist[0][0] }}</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
			Born: {{artist[0][1].strftime('%Y-%m-%d')}}
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<h2>Albums</h2>
			</div>
			<div class="row">
				{% for n in albums %}
				<div class="col-md-12"><a href="/release?upc={{n[0]}}">{{n[1]}}</a> ({{n[2]}})</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<h2>Songs Written</h2>
			</div>
			<div class="row">
				{% for n in songs %}
				<div class="col-md-12"><a href="/song?isrc={{n[0]}}">{{n[1]}}</a> ({{n[2]}})</div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<h2>Labels</h2>
			</div>
			<div class="row">
				{% for n in labels %}
				<div class="col-md-12"><a href="/label?name={{n[0]}}&year_founded={{n[1]}}">{{n[0]}}</a></div>
				{% endfor %}
			</div>
		</div>
		<div class="col-md-6">
			<div class="row">
				<h2>Instruments</h2>
			</div>
			<div class="row">
				{% for n in instruments %}
				<div class="col-md-12"><a href="/instrument?name={{n[0]}}">{{n[0]}}</a></div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock %}